.carousel-slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  //scrollbar-width: thin;
  scrollbar-color: #1c1c1c #1c1c1c;
  &::-webkit-scrollbar {
      width: 11px;
  }
  &::-webkit-scrollbar-track {
      background: #1c1c1c;
  }
  &::-webkit-scrollbar-thumb {
      background-color: #1c1c1c;
      border-radius: 6px;
      border: 3px solid #1c1c1c;
  }
  .carousel-cover{
    max-width: 360px;
  }
  .comics-card{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    img{
      width: 320px;
      height: 450px;
    }
    .tag-book{
      width: max-content;
      text-transform: uppercase;
      font-weight: 800;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #ffffff;
      background-color: $primary_blue;
      font-size: 0.75rem;
      padding: 6px;
      margin: 0;
      line-height: 0.65rem;
      position: absolute;
      top: 0px;
      left: 15px;
      cursor: pointer;

    }
    
    h3{
      font-size: 1rem;
      margin: 10px 0 4px 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      text-transform: uppercase;
      &:hover a{
        color: #ffffff;
        text-decoration: none;
      }
      &.comics-title{
        color: #ffffff;
      }
      &.available-comic {
        color: $primary_blue;
        cursor: default;
      }
    }
  }
}
