.container.comics-show{
  background-color: #fff;
  justify-items: flex-start;
  /* border: 1px solid red; */
  margin: 1.5rem 0;
  max-width: 660px;
  .info-comics{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 5rem;
    .comics-title-vol{
      color: #003f5e;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
    .buy-section{
      width: 100%;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #55ba59;
      border-bottom: 1px solid black;
      text-transform: capitalize;
      margin-bottom: 1.25rem;
      .price-box,
      .available,
      .buy{
        height: auto;
        min-height: 44px;
        padding: 12px 25px 12px;
        font-size: 1rem;
        cursor: default;
      }
      .buy-box{
        display: flex;
        .buy{
          width: fit-content;
          .available{
            color: #bafd9c;
            border-right: 1px solid #357739;
            text-transform: uppercase;
          }
        }
      }
    }
    .description-comics{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25rem;
      color: #555555;
    }
  }
}
.comics-details{
  min-width: 1200px;
  background-color: #f6f6f6;
  .container {
    display: flex;
    section{
      color: #003f5e;
      padding-right: 2.5rem;
      .section-title{
        text-transform: capitalize;
        padding: 25px 0;
        border-bottom: 1px solid #e3e3e3;
      }
      li{
        width: 500px;
        display: flex;
        border-bottom: 1px solid #e3e3e3;
        line-height: 16px;
        padding: 12px 0;
      }
      .span-left{
        display: flex;
        flex-wrap: nowrap;
        width: 160px;
      }
      a{
        color: #00a9d9;
        text-decoration: none;
      }
      span:hover a{
        color: #77daf5;
      }
    }

  }
}