nav.block-inner{
  .navbar_top{
    overflow-x: hidden;
    background-color: $primary_blue;
    ul.menu{
      color: #fff;
      height: 2.5rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      margin: 0;
      li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11.25rem;
        height: 100%;
        font-size: 1.25rem;
        list-style-image: none;
        list-style-type: none;
        border-left: 1px solid #3797F6;
        transform: skew(-15deg);
        &:hover:not(.active){
          background-color: #3797F6;
        }
        &:first-child img {
            vertical-align: middle;
            height: 1.6rem;
        }
        img{
          height: 1.5rem;
          transform: skew(15deg);
          vertical-align: sub;
        }
        
      }
      .active{
        width: 100%;
        height: 100%;
        background-color: #FEFEFE;
        text-align: center;
      }
    }
  }
  .navbar_bottom{
    width: 100%;
    height: 115px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    box-sizing: content-box;
    /* overflow: visible;
    z-index: 500;
    transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: ease-in-out; */
    .container{
      height: 100%;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo img{
      width: 81px;
    }
    .menu{
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 5rem;
      margin-bottom: 0;
      li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 0.9375rem;
        letter-spacing: 0.03em;
        color: #222222;
        display: flex;
        margin: 0px 1.25rem;
        border-bottom: 4px solid transparent;
        transition-duration: .3s;
        transition-property: border-bottom;
        transition-timing-function: ease-in-out;
        &:hover{
        border-bottom: 4px solid $primary_blue;
        }
      }
      .active{
        border-bottom: 4px solid $primary_blue;
      }
      &:hover a{
        text-decoration: none;
      }
    }
    
    .expanded{
      position: relative;
      z-index: 10;
      &:hover .submenu {
        display: block;
      }
    }
    
    .submenu{
      display: none;
      width: max-content;
      background-color: #ebebeb;
      box-shadow: 2px -2px 2px #ebebeb;
      position: absolute;
      top: 116px;
      left: 0px;
      li{
        font-size: 0.80em;
        line-height: 2em;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        justify-content: flex-start;
        color: #464646;
        border-bottom: 4px solid transparent;
        &:hover{
          color: #0282F9;
          border-bottom: 4px solid transparent;
        }
      }
    }

    .form-inline{
      display: flex;
      justify-content: flex-end;
      .input-group {
        width: 60%;
        border-bottom: 2px solid $primary_blue;
  
        input.form-control,
        .btn {
          height: min-content;
          font-size: 1.25rem;
          border: 0px solid transparent;
          text-align: right;
          padding: 0px 0px 0px .75rem;
  
          &::placeholder {
              color: black;
          }
  
          &:focus {
              box-shadow: none;
          }
        }
      }
    }

  }
}